In [2]:
# Import pandas
import pandas as pd

# Silence warnings due to chained assignments
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
from google.colab import files
uploaded = files.upload()

Saving Seasons_Stats.csv to Seasons_Stats.csv

In [4]:
df_2017 = pd.read_csv('Seasons_Stats.csv')

# Display first five rows
df_2017.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [5]:
# Delete unnecessary column
del df_2017['Unnamed: 0']

# Only select years after 1979
df_2017 = df_2017[df_2017['Year']>=1980]

# Display last five rows
df_2017.tail()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [6]:
# Display info
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18927 entries, 5727 to 24690
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    18927 non-null  float64
 1   Player  18927 non-null  object
 2   Pos     18927 non-null  object
 3   Age     18927 non-null  float64
 4   Tm      18927 non-null  object
 5   G       18927 non-null  float64
 6   GS      18233 non-null  float64
 7   MP      18927 non-null  float64
 8   PER     18922 non-null  float64
 9   TS%     18851 non-null  float64
 10  3PAr    18839 non-null  float64
 11  FTr     18839 non-null  float64
 12  ORB%    18922 non-null  float64
 13  DRB%    18922 non-null  float64
 14  TRB%    18922 non-null  float64
 15  AST%    18922 non-null  float64
 16  STL%    18922 non-null  float64
 17  BLK%    18922 non-null  float64
 18  TOV%    18866 non-null  float64
 19  USG%    18922 non-null  float64
 20  blanl   0 non-null      float64
 21  OWS     18927 non-null  float64
 22  DWS     18927 non-null  float64
 23  WS      18927 non-null  float64
 24  WS/48   18922 non-null  float64
 25  blank2  0 non-null      float64
 26  OBPM    18927 non-null  float64
 27  DBPM    18927 non-null  float64
 28  BPM     18927 non-null  float64
 29  VORP    18927 non-null  float64
 30  FG      18927 non-null  float64
 31  FGA     18927 non-null  float64
 32  FG%     18839 non-null  float64
 33  3P      18927 non-null  float64
 34  3PA     18927 non-null  float64
 35  3P%     15416 non-null  float64
 36  2P      18927 non-null  float64
 37  2PA     18927 non-null  float64
 38  2P%     18810 non-null  float64
 39  eFG%    18839 non-null  float64
 40  FT      18927 non-null  float64
 41  FTA     18927 non-null  float64
 42  FT%     18182 non-null  float64
 43  ORB     18927 non-null  float64
 44  DRB     18927 non-null  float64
 45  TRB     18927 non-null  float64
 46  AST     18927 non-null  float64
 47  STL     18927 non-null  float64
 48  BLK     18927 non-null  float64
 49  TOV     18927 non-null  float64
 50  PF      18927 non-null  float64
 51  PTS     18927 non-null  float64
dtypes: float64(49), object(3)
memory usage: 7.7+ MB

In [7]:
# Read html file
df_2018, = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2018_totals.html", header=0)
df_2019, = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2019_totals.html", header=0)
df_2020, = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2020_totals.html", header=0)
df_2021, = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2021_totals.html", header=0)

# Convert to csv file
df_2018.to_csv("df_2018.csv", index=False)
df_2019.to_csv("df_2019.csv", index=False)
df_2020.to_csv("df_2020.csv", index=False)
df_2021.to_csv("df_2021.csv", index=False)

# Display first five rows
df_2019.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,25,OKC,31,2,588,56,157,...,.923,5,43,48,20,17,6,14,53,165
1,2,Quincy Acy,PF,28,PHO,10,0,123,4,18,...,.700,3,22,25,8,1,4,4,24,17
2,3,Jaylen Adams,PG,22,ATL,34,1,428,38,110,...,.778,11,49,60,65,14,5,28,45,108
3,4,Steven Adams,C,25,OKC,80,80,2669,481,809,...,.500,391,369,760,124,117,76,135,204,1108
4,5,Bam Adebayo,C,21,MIA,82,28,1913,280,486,...,.735,165,432,597,184,71,65,121,203,729

In [8]:
df_2021.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,PF,21,MIA,61,4,737,124,228,...,.509,73,135,208,29,20,28,43,91,304
1,2,Jaylen Adams,PG,24,MIL,7,0,18,1,8,...,NaN,0,3,3,2,0,0,0,1,2
2,3,Steven Adams,C,27,NOP,58,58,1605,189,308,...,.444,213,301,514,111,54,38,78,113,438
3,4,Bam Adebayo,C,23,MIA,64,64,2143,456,800,...,.799,142,431,573,346,75,66,169,145,1197
4,5,LaMarcus Aldridge,C,35,TOT,26,23,674,140,296,...,.872,19,99,118,49,11,29,27,47,352

Add column for year and delete the "Rk" column

In [9]:
# Delete unnecessary column
del df_2018['Rk']
del df_2019['Rk']
del df_2020['Rk']
del df_2021['Rk']

# Add column for year, place at index 0
df_2018.insert(0, 'Year', 2018.0)
df_2019.insert(0, 'Year', 2019.0)
df_2020.insert(0, 'Year', 2020.0)
df_2021.insert(0, 'Year', 2021.0)

#Display last five rows
df_2021.tail()

,Year,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
726,2021.0,Delon Wright,PG,28,SAC,27,8,696,104,225,...,.833,28,77,105,97,43,11,35,30,271
727,2021.0,Thaddeus Young,PF,32,CHI,68,23,1652,370,662,...,.628,168,255,423,291,74,40,137,152,823
728,2021.0,Trae Young,PG,22,ATL,63,63,2125,487,1112,...,.886,38,207,245,594,53,12,261,111,1594
729,2021.0,Cody Zeller,C,28,CHO,48,21,1005,181,324,...,.714,119,209,328,86,27,17,51,121,451
730,2021.0,Ivica Zubac,C,23,LAC,72,33,1609,257,394,...,.789,189,330,519,90,24,62,81,187,650

In [10]:
# Display info
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    690 non-null    float64
 1   Player  690 non-null    object
 2   Pos     690 non-null    object
 3   Age     690 non-null    object
 4   Tm      690 non-null    object
 5   G       690 non-null    object
 6   GS      690 non-null    object
 7   MP      690 non-null    object
 8   FG      690 non-null    object
 9   FGA     690 non-null    object
 10  FG%     686 non-null    object
 11  3P      690 non-null    object
 12  3PA     690 non-null    object
 13  3P%     625 non-null    object
 14  2P      690 non-null    object
 15  2PA     690 non-null    object
 16  2P%     672 non-null    object
 17  eFG%    686 non-null    object
 18  FT      690 non-null    object
 19  FTA     690 non-null    object
 20  FT%     632 non-null    object
 21  ORB     690 non-null    object
 22  DRB     690 non-null    object
 23  TRB     690 non-null    object
 24  AST     690 non-null    object
 25  STL     690 non-null    object
 26  BLK     690 non-null    object
 27  TOV     690 non-null    object
 28  PF      690 non-null    object
 29  PTS     690 non-null    object
dtypes: float64(1), object(29)
memory usage: 161.8+ KB

Concatenating DataFrames

Note that the dataframes have a different number of columns.

Hence we are selecting columns which are required and concatenating into single dataframe.

In [11]:
# Select columns
tp_2017 = df_2017[['Year', 'Tm', 'Player', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', 'PTS', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', '3P', '3PA', '3P%']]
tp_2018 = df_2018[['Year', 'Tm', 'Player', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', 'PTS', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', '3P', '3PA', '3P%']]
tp_2019 = df_2019[['Year', 'Tm', 'Player', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', 'PTS', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', '3P', '3PA', '3P%']]
tp_2020 = df_2020[['Year', 'Tm', 'Player', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', 'PTS', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', '3P', '3PA', '3P%']]
tp_2021 = df_2021[['Year', 'Tm', 'Player', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', 'PTS', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', '3P', '3PA', '3P%']]

In [12]:
# Concatenate dataframes
tp = pd.concat([tp_2017, tp_2018, tp_2019, tp_2020, tp_2021], ignore_index=True)

In [60]:
#View the new df
tp.tail()

,Year,Tm,Player,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,3P,3PA,3P%
21754,2021,SAC,Delon Wright,PG,27.0,8.0,696.0,104.0,225.0,0.462,...,77.0,105.0,97.0,43.0,11.0,35.0,30.0,33.0,83.0,0.398
21755,2021,CHI,Thaddeus Young,PF,68.0,23.0,1652.0,370.0,662.0,0.559,...,255.0,423.0,291.0,74.0,40.0,137.0,152.0,12.0,45.0,0.267
21756,2021,ATL,Trae Young,PG,63.0,63.0,2125.0,487.0,1112.0,0.438,...,207.0,245.0,594.0,53.0,12.0,261.0,111.0,136.0,397.0,0.343
21757,2021,CHO,Cody Zeller,C,48.0,21.0,1005.0,181.0,324.0,0.559,...,209.0,328.0,86.0,27.0,17.0,51.0,121.0,4.0,28.0,0.143
21758,2021,LAC,Ivica Zubac,C,72.0,33.0,1609.0,257.0,394.0,0.652,...,330.0,519.0,90.0,24.0,62.0,81.0,187.0,1.0,4.0,0.250

In [14]:
#Display info
tp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21759 entries, 0 to 21758
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    21759 non-null  float64
 1   Tm      21759 non-null  object
 2   Player  21759 non-null  object
 3   Pos     21759 non-null  object
 4   G       21759 non-null  object
 5   GS      21065 non-null  object
 6   MP      21759 non-null  object
 7   FG      21759 non-null  object
 8   FGA     21759 non-null  object
 9   FG%     21657 non-null  object
 10  PTS     21759 non-null  object
 11  2P      21759 non-null  object
 12  2PA     21759 non-null  object
 13  2P%     21597 non-null  object
 14  eFG%    21657 non-null  object
 15  FT      21759 non-null  object
 16  FTA     21759 non-null  object
 17  FT%     20851 non-null  object
 18  ORB     21759 non-null  object
 19  DRB     21759 non-null  object
 20  TRB     21759 non-null  object
 21  AST     21759 non-null  object
 22  STL     21759 non-null  object
 23  BLK     21759 non-null  object
 24  TOV     21759 non-null  object
 25  PF      21759 non-null  object
 26  3P      21759 non-null  object
 27  3PA     21759 non-null  object
 28  3P%     18066 non-null  object
dtypes: float64(1), object(28)
memory usage: 4.8+ MB

With the exception of 'Year', the data has not been rendered as numbers. They must be converted to floats for mathematical operations.

In [15]:
# Convert numeric columns to decimals
tp.G = pd.to_numeric(tp.G, errors='coerce')
tp.FT = pd.to_numeric(tp.FT, errors='coerce')
tp.FTA = pd.to_numeric(tp.FTA, errors='coerce')
tp.ORB = pd.to_numeric(tp.ORB, errors='coerce')
tp.DRB = pd.to_numeric(tp.DRB, errors='coerce')
tp.TRB = pd.to_numeric(tp.TRB, errors='coerce')
tp.AST = pd.to_numeric(tp.AST, errors='coerce')
tp.STL = pd.to_numeric(tp.STL, errors='coerce')
tp.BLK = pd.to_numeric(tp.BLK, errors='coerce')
tp.TOV = pd.to_numeric(tp.TOV, errors='coerce')
tp.PF = pd.to_numeric(tp.PF, errors='coerce')
tp.FG = pd.to_numeric(tp.FG, errors='coerce')
tp.FGA = pd.to_numeric(tp.FGA, errors='coerce')
tp['FG%'] = pd.to_numeric(tp['FG%'], errors='coerce')
tp['FT%'] = pd.to_numeric(tp['FT%'], errors='coerce')
tp.GS = pd.to_numeric(tp.GS, errors='coerce')
tp.MP = pd.to_numeric(tp.MP, errors='coerce')
tp.PTS = pd.to_numeric(tp.PTS, errors='coerce')
tp['3P'] = pd.to_numeric(tp['3P'], errors='coerce')
tp['3PA'] = pd.to_numeric(tp['3PA'], errors='coerce')
tp['3P%'] = pd.to_numeric(tp['3P%'], errors='coerce')
tp['2P'] = pd.to_numeric(tp['2P'], errors='coerce')
tp['2PA'] = pd.to_numeric(tp['2PA'], errors='coerce')
tp['2P%'] = pd.to_numeric(tp['2P%'], errors='coerce')
tp['eFG%'] = pd.to_numeric(tp['eFG%'], errors='coerce')

# Check columns
tp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21759 entries, 0 to 21758
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    21759 non-null  float64
 1   Tm      21759 non-null  object
 2   Player  21759 non-null  object
 3   Pos     21759 non-null  object
 4   G       21655 non-null  float64
 5   GS      20961 non-null  float64
 6   MP      21655 non-null  float64
 7   FG      21655 non-null  float64
 8   FGA     21655 non-null  float64
 9   FG%     21553 non-null  float64
 10  PTS     21655 non-null  float64
 11  2P      21655 non-null  float64
 12  2PA     21655 non-null  float64
 13  2P%     21493 non-null  float64
 14  eFG%    21553 non-null  float64
 15  FT      21655 non-null  float64
 16  FTA     21655 non-null  float64
 17  FT%     20747 non-null  float64
 18  ORB     21655 non-null  float64
 19  DRB     21655 non-null  float64
 20  TRB     21655 non-null  float64
 21  AST     21655 non-null  float64
 22  STL     21655 non-null  float64
 23  BLK     21655 non-null  float64
 24  TOV     21655 non-null  float64
 25  PF      21655 non-null  float64
 26  3P      21655 non-null  float64
 27  3PA     21655 non-null  float64
 28  3P%     17962 non-null  float64
dtypes: float64(26), object(3)
memory usage: 4.8+ MB

Points Per Possession

Another piece of Data Wrangling is points per possession. It will be used to compute the expected value of points each time a team has the ball. I obtained the team ratings at https://www.basketball-reference.com/leagues/NBA_stats.html.

In [65]:
# Read html file
df_teams, = pd.read_html("https://www.basketball-reference.com/leagues/NBA_stats_per_game.html", header=0)

In [68]:
df_teams.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Per Game,Per Game.1,Per Game.2,...,Per Game.15,Shooting,Shooting.1,Shooting.2,Advanced,Advanced.1,Advanced.2,Advanced.3,Advanced.4,Advanced.5
0,Rk,Season,Lg,Age,Ht,Wt,G,MP,FG,FGA,...,PTS,FG%,3P%,FT%,Pace,eFG%,TOV%,ORB%,FT/FGA,ORtg
1,1,2021-22,NBA,26.1,6-6,215,1230,241.4,40.6,88.1,...,110.6,.461,.354,.775,98.2,.532,12.3,23.2,.192,112.0
2,2,2020-21,NBA,26.1,6-6,217,1080,241.4,41.2,88.4,...,112.1,.466,.367,.778,99.2,.538,12.4,22.2,.192,112.3
3,3,2019-20,NBA,26.1,6-6,218,1059,241.8,40.9,88.8,...,111.8,.460,.358,.773,100.3,.529,12.8,22.5,.201,110.6
4,4,2018-19,NBA,26.3,6-6,219,1230,241.6,41.1,89.2,...,111.2,.461,.355,.766,100.0,.524,12.4,22.9,.198,110.4

In [18]:
df_teams.drop([0,0])

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Per Game,Per Game.1,Per Game.2,...,Per Game.15,Shooting,Shooting.1,Shooting.2,Advanced,Advanced.1,Advanced.2,Advanced.3,Advanced.4,Advanced.5
1,1,2021-22,NBA,26.1,6-6,215,1230,241.4,40.6,88.1,...,110.6,.461,.354,.775,98.2,.532,12.3,23.2,.192,112.0
2,2,2020-21,NBA,26.1,6-6,217,1080,241.4,41.2,88.4,...,112.1,.466,.367,.778,99.2,.538,12.4,22.2,.192,112.3
3,3,2019-20,NBA,26.1,6-6,218,1059,241.8,40.9,88.8,...,111.8,.460,.358,.773,100.3,.529,12.8,22.5,.201,110.6
4,4,2018-19,NBA,26.3,6-6,219,1230,241.6,41.1,89.2,...,111.2,.461,.355,.766,100.0,.524,12.4,22.9,.198,110.4
5,5,2017-18,NBA,26.4,6-7,220,1230,241.4,39.6,86.1,...,106.3,.460,.362,.767,97.3,.521,13.0,22.3,.193,108.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,72,1950-51,NBA,NaN,NaN,NaN,354,NaN,29.8,83.6,...,84.1,.357,NaN,.733,NaN,.357,NaN,NaN,.293,NaN
79,73,1949-50,NBA,NaN,NaN,NaN,561,NaN,28.2,83.1,...,80.0,.340,NaN,.714,NaN,.340,NaN,NaN,.284,NaN
80,74,1948-49,BAA,NaN,NaN,NaN,360,NaN,29.0,88.7,...,80.0,.327,NaN,.703,NaN,.327,NaN,NaN,.248,NaN
81,75,1947-48,BAA,NaN,NaN,NaN,192,NaN,27.2,96.0,...,72.7,.284,NaN,.675,NaN,.284,NaN,NaN,.190,NaN
82,76,1946-47,BAA,NaN,NaN,NaN,331,NaN,25.9,92.9,...,67.8,.279,NaN,.641,NaN,.279,NaN,NaN,.171,NaN

In [19]:
# Choose relevant columns
df_PPP = df_teams[['Unnamed: 1','Advanced.5']]

# Rename columns
df_PPP.columns = ['Year', 'PPP']

# Show first five rows
df_PPP.head()

      Year    PPP
0   Season   ORtg
1  2021-22  112.0
2  2020-21  112.3
3  2019-20  110.6
4  2018-19  110.4

In [20]:
df_PPP.head()

      Year    PPP
0   Season   ORtg
1  2021-22  112.0
2  2020-21  112.3
3  2019-20  110.6
4  2018-19  110.4

In [22]:
df_P = df_PPP.iloc[1:]
df_P

       Year    PPP
1   2021-22  112.0
2   2020-21  112.3
3   2019-20  110.6
4   2018-19  110.4
5   2017-18  108.6
..      ...    ...
78  1950-51    NaN
79  1949-50    NaN
80  1948-49    NaN
81  1947-48    NaN
82  1946-47    NaN

[82 rows x 2 columns]

In [23]:
df_P.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 1 to 82
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    79 non-null     object
 1   PPP     55 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

In [24]:
# Convert 'Year' to year listed before hyphen
df_P['Year'] = df_P.loc[:,'Year'].str.split('-').str[0]

# Convert columns to numbers
df_P['Year'] = pd.to_numeric(df_P['Year'], errors='coerce')
df_P['PPP'] = pd.to_numeric(df_P['PPP'], errors='coerce')

# Drop NaN values
df_P = df_P.dropna()

# Add 1 to each year, since NBA seasons are maked by the second, not first year
df_P['Year'] = df_P['Year'] + 1

# Offensive rating is defined by points per 100 possession
# Divide by 100 to convert to points per possession
df_P['PPP'] = df_P['PPP']/100

# Only choose years with 3-pointers
df_P = df_P[df_P.Year>=1980]

# View DataFrame
df_P

      Year    PPP
1   2022.0  1.120
2   2021.0  1.123
3   2020.0  1.106
4   2019.0  1.104
5   2018.0  1.086
6   2017.0  1.088
7   2016.0  1.064
8   2015.0  1.056
9   2014.0  1.066
10  2013.0  1.058
11  2012.0  1.046
12  2011.0  1.073
13  2010.0  1.076
14  2009.0  1.083
15  2008.0  1.075
16  2007.0  1.065
17  2006.0  1.062
18  2005.0  1.061
19  2004.0  1.029
20  2003.0  1.036
23  2002.0  1.045
24  2001.0  1.030
25  2000.0  1.041
26  1999.0  1.022
27  1998.0  1.050
28  1997.0  1.067
29  1996.0  1.076
30  1995.0  1.083
31  1994.0  1.063
32  1993.0  1.080
33  1992.0  1.082
34  1991.0  1.079
35  1990.0  1.081
36  1989.0  1.078
37  1988.0  1.080
38  1987.0  1.083
39  1986.0  1.072
40  1985.0  1.079
41  1984.0  1.076
42  1983.0  1.047
45  1982.0  1.069
46  1981.0  1.055
47  1980.0  1.053

In [25]:
# Convert years to ints
tp['Year'] = tp['Year'].astype(int)

Duplicate Entries

What if a player gets traded? Basketball Reference lists both their separate team statistics and their individual total statistics per year. This makes sense. When looking at team statistics, the stats only matter for that team, but when looking at individual statistics, only the total stats should count. We need two separate dataframes to handle the two separate cases.

In [26]:
# Copy the dataframe
tp_team = tp.copy()

# Drop rows with TOT as 'Tm'
tp_team = tp_team.drop(tp_team[tp_team['Tm']=='TOT'].index)

# Show last rows
tp_team.tail()

,Year,Tm,Player,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,3P,3PA,3P%
21754,2021,SAC,Delon Wright,PG,27.0,8.0,696.0,104.0,225.0,0.462,...,77.0,105.0,97.0,43.0,11.0,35.0,30.0,33.0,83.0,0.398
21755,2021,CHI,Thaddeus Young,PF,68.0,23.0,1652.0,370.0,662.0,0.559,...,255.0,423.0,291.0,74.0,40.0,137.0,152.0,12.0,45.0,0.267
21756,2021,ATL,Trae Young,PG,63.0,63.0,2125.0,487.0,1112.0,0.438,...,207.0,245.0,594.0,53.0,12.0,261.0,111.0,136.0,397.0,0.343
21757,2021,CHO,Cody Zeller,C,48.0,21.0,1005.0,181.0,324.0,0.559,...,209.0,328.0,86.0,27.0,17.0,51.0,121.0,4.0,28.0,0.143
21758,2021,LAC,Ivica Zubac,C,72.0,33.0,1609.0,257.0,394.0,0.652,...,330.0,519.0,90.0,24.0,62.0,81.0,187.0,1.0,4.0,0.250

In [27]:
# Copy original dataframe for individuals
tp_ind = tp.copy()

# Drop all rows that list players more than once per year
tp_no_duplicates = tp_ind.drop_duplicates(['Year','Player'], keep=False)

# Create dataframe that only includes 'TOT' as team
tp_Tot = tp_ind[tp_ind['Tm']=='TOT']

# Combine dataframe with no duplicates with dataframe that has TOT as team
tp_ind = pd.concat([tp_no_duplicates, tp_Tot])

# Sort index
tp_ind = tp_ind.sort_index()

# Show last 5 entries
tp_ind.tail()

,Year,Tm,Player,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,3P,3PA,3P%
21752,2021,TOT,Delon Wright,SG-PG,63.0,39.0,1748.0,240.0,518.0,0.463,...,204.0,269.0,278.0,101.0,30.0,83.0,75.0,64.0,172.0,0.372
21755,2021,CHI,Thaddeus Young,PF,68.0,23.0,1652.0,370.0,662.0,0.559,...,255.0,423.0,291.0,74.0,40.0,137.0,152.0,12.0,45.0,0.267
21756,2021,ATL,Trae Young,PG,63.0,63.0,2125.0,487.0,1112.0,0.438,...,207.0,245.0,594.0,53.0,12.0,261.0,111.0,136.0,397.0,0.343
21757,2021,CHO,Cody Zeller,C,48.0,21.0,1005.0,181.0,324.0,0.559,...,209.0,328.0,86.0,27.0,17.0,51.0,121.0,4.0,28.0,0.143
21758,2021,LAC,Ivica Zubac,C,72.0,33.0,1609.0,257.0,394.0,0.652,...,330.0,519.0,90.0,24.0,62.0,81.0,187.0,1.0,4.0,0.250

In [28]:
tp_ind.to_csv('tp_ind.csv', index = False)

In [29]:
tp_ind.sort_values(['3P'])

,Year,Tm,Player,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,3P,3PA,3P%
0,1980,LAL,Kareem Abdul-Jabbar*,C,82.0,NaN,3143.0,835.0,1383.0,0.604,...,696.0,886.0,371.0,81.0,280.0,297.0,216.0,0.0,1.0,0.000
9212,2000,NYK,David Wingate,SG,7.0,0.0,32.0,1.0,9.0,0.111,...,1.0,2.0,3.0,1.0,2.0,2.0,7.0,0.0,0.0,NaN
9209,2000,SAC,Corliss Williamson,SF,76.0,76.0,1707.0,311.0,622.0,0.500,...,168.0,290.0,82.0,38.0,19.0,110.0,192.0,0.0,0.0,NaN
9206,2000,MIL,Scott Williams,C,68.0,46.0,1488.0,213.0,426.0,0.500,...,271.0,448.0,28.0,40.0,66.0,65.0,230.0,0.0,0.0,NaN
9204,2000,WAS,Lorenzo Williams,PF,8.0,0.0,76.0,7.0,9.0,0.778,...,13.0,25.0,1.0,3.0,6.0,3.0,13.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18452,2017,GSW,Stephen Curry,PG,79.0,79.0,2638.0,675.0,1443.0,0.468,...,292.0,353.0,523.0,143.0,17.0,239.0,183.0,324.0,789.0,0.411
21184,2021,GSW,Stephen Curry,PG,63.0,63.0,2152.0,658.0,1365.0,0.482,...,316.0,345.0,363.0,77.0,8.0,213.0,119.0,337.0,801.0,0.421
19782,2019,GSW,Stephen Curry,PG,69.0,69.0,2331.0,632.0,1340.0,0.472,...,324.0,369.0,361.0,92.0,25.0,192.0,166.0,354.0,810.0,0.437
19897,2019,HOU,James Harden,PG,78.0,78.0,2867.0,843.0,1909.0,0.442,...,452.0,518.0,586.0,158.0,58.0,387.0,244.0,378.0,1028.0,0.368
17870,2016,GSW,Stephen Curry,PG,79.0,79.0,2700.0,805.0,1598.0,0.504,...,362.0,430.0,527.0,169.0,15.0,262.0,161.0,402.0,886.0,0.454

Minimum Requirements

It's not necessary to examine data from all players. If a player was never recorded as taking a 3-pointer, he can be excluded. Players who only took a few 3's may also be excluded so as not to skew the data. My minimum requirements for 3NG are less stringent than other "qualified" statistics. See https://stats.nba.com/help/statminimums/.

In [71]:
# Define functions that establishes minimum requirements for qualified individuals
def min_requirements(data, threes, mins, games):

    # Select players who have made more than a certain number of 3s
    data = data[(data['3P'] > threes)]

    # Select players with a certain number of minutes
    data = data[(data['MP'] > mins)]

    # Select players who have played a certain number of games
    data = data[(data['G'] > games)]

    # return dataframe
    return data

In [72]:
# Create dataframe for qualified individuals
tp_ind_qual = min_requirements(tp_ind, 10, 220, 30)

# Create team dataframe with qualified individuals
tp_team_qual = min_requirements(tp_team, 10, 220, 30)

In [32]:
del tp_team_qual ['GS']
del tp_ind_qual ['GS']
del tp_team_qual ['FT%']
del tp_ind_qual ['FT%']

In [33]:
# Check info for qualified individuals
tp_ind_qual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6939 entries, 7 to 21756
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    6939 non-null   int64
 1   Tm      6939 non-null   object
 2   Player  6939 non-null   object
 3   Pos     6939 non-null   object
 4   G       6939 non-null   float64
 5   MP      6939 non-null   float64
 6   FG      6939 non-null   float64
 7   FGA     6939 non-null   float64
 8   FG%     6939 non-null   float64
 9   PTS     6939 non-null   float64
 10  2P      6939 non-null   float64
 11  2PA     6939 non-null   float64
 12  2P%     6939 non-null   float64
 13  eFG%    6939 non-null   float64
 14  FT      6939 non-null   float64
 15  FTA     6939 non-null   float64
 16  ORB     6939 non-null   float64
 17  DRB     6939 non-null   float64
 18  TRB     6939 non-null   float64
 19  AST     6939 non-null   float64
 20  STL     6939 non-null   float64
 21  BLK     6939 non-null   float64
 22  TOV     6939 non-null   float64
 23  PF      6939 non-null   float64
 24  3P      6939 non-null   float64
 25  3PA     6939 non-null   float64
 26  3P%     6939 non-null   float64
dtypes: float64(23), int64(1), object(3)
memory usage: 1.5+ MB

In [34]:
# Check info for qualified teams
tp_team_qual.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6801 entries, 7 to 21756
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    6801 non-null   int64
 1   Tm      6801 non-null   object
 2   Player  6801 non-null   object
 3   Pos     6801 non-null   object
 4   G       6801 non-null   float64
 5   MP      6801 non-null   float64
 6   FG      6801 non-null   float64
 7   FGA     6801 non-null   float64
 8   FG%     6801 non-null   float64
 9   PTS     6801 non-null   float64
 10  2P      6801 non-null   float64
 11  2PA     6801 non-null   float64
 12  2P%     6801 non-null   float64
 13  eFG%    6801 non-null   float64
 14  FT      6801 non-null   float64
 15  FTA     6801 non-null   float64
 16  ORB     6801 non-null   float64
 17  DRB     6801 non-null   float64
 18  TRB     6801 non-null   float64
 19  AST     6801 non-null   float64
 20  STL     6801 non-null   float64
 21  BLK     6801 non-null   float64
 22  TOV     6801 non-null   float64
 23  PF      6801 non-null   float64
 24  3P      6801 non-null   float64
 25  3PA     6801 non-null   float64
 26  3P%     6801 non-null   float64
dtypes: float64(23), int64(1), object(3)
memory usage: 1.5+ MB

New NBA Stats

Expected Minutes Before 3's

This first group of statistics computes the number of minutes players are on the court before attemping and making 3's.

AM3A : Average Minutes per 3-point Attempt

A player's Average Minutes per 3-Point Attempt is total minutes played divided by total 3-pointers attempted.

In [35]:
# Define AM3A, Average Minutes per 3-point Attempt 
tp_ind_qual['AM3A'] = tp_ind_qual['MP'] / tp_ind_qual['3PA']

# Round to 2 decimal places
tp_ind_qual['AM3A']=round(tp_ind_qual['AM3A'], 2)

EM3A : Expected Minutes before 3-point Attempt

The expected value of a continuous interval of time is at the halfway mark. If a player's Average Minutes per 3-point Attempt is 10.0, he will most likely shoot a 3 at the halfway mark, after five minutes.

In [36]:
# Define EM3A, Expected Minutes before 3-point Attempt
tp_ind_qual['EM3A'] = tp_ind_qual['AM3A'] / 2

# Round to 2 decimal places
tp_ind_qual['EM3A']=round(tp_ind_qual['EM3A'], 2)

# Sort DataFrame by new category
tp_EM3A = tp_ind_qual.sort_values('EM3A', ascending=True)

# Reset index
tp_EM3A = tp_EM3A.reset_index(drop=True)

# Start index at 1 instead of 0
tp_EM3A.index = tp_EM3A.index + 1

In [37]:
# View players who attempt 3s faster than anyone in NBA history
tp_EM3A.head(20)

,Year,Tm,Player,Pos,G,MP,FG,FGA,FG%,PTS,...,AST,STL,BLK,TOV,PF,3P,3PA,3P%,AM3A,EM3A
1,2021,GSW,Stephen Curry,PG,63.0,2152.0,658.0,1365.0,0.482,2015.0,...,363.0,77.0,8.0,213.0,119.0,337.0,801.0,0.421,2.69,1.34
2,2020,HOU,Chris Clemons,SG,33.0,291.0,57.0,142.0,0.401,161.0,...,27.0,9.0,6.0,19.0,26.0,37.0,107.0,0.346,2.72,1.36
3,2019,HOU,James Harden,PG,78.0,2867.0,843.0,1909.0,0.442,2818.0,...,586.0,158.0,58.0,387.0,244.0,378.0,1028.0,0.368,2.79,1.40
4,2019,GSW,Stephen Curry,PG,69.0,2331.0,632.0,1340.0,0.472,1881.0,...,361.0,92.0,25.0,192.0,166.0,354.0,810.0,0.437,2.88,1.44
5,2018,ORL,Marreese Speights,C,52.0,675.0,138.0,349.0,0.395,402.0,...,40.0,8.0,22.0,40.0,106.0,86.0,233.0,0.369,2.90,1.45
6,2018,TOR,C.J. Miles,SF,70.0,1337.0,227.0,599.0,0.379,699.0,...,55.0,37.0,21.0,39.0,134.0,164.0,454.0,0.361,2.94,1.47
7,2020,HOU,James Harden,SG,68.0,2483.0,672.0,1514.0,0.444,2335.0,...,512.0,125.0,60.0,308.0,227.0,299.0,843.0,0.355,2.95,1.48
8,2021,UTA,Jordan Clarkson,SG,68.0,1818.0,457.0,1075.0,0.425,1251.0,...,168.0,61.0,10.0,115.0,110.0,208.0,599.0,0.347,3.04,1.52
9,2016,GSW,Stephen Curry,PG,79.0,2700.0,805.0,1598.0,0.504,2375.0,...,527.0,169.0,15.0,262.0,161.0,402.0,886.0,0.454,3.05,1.52
10,2015,DAL,Charlie Villanueva,PF,64.0,678.0,150.0,362.0,0.414,403.0,...,19.0,15.0,22.0,28.0,64.0,83.0,221.0,0.376,3.07,1.54
11,2018,HOU,Gerald Green,SG,41.0,929.0,168.0,413.0,0.407,497.0,...,25.0,24.0,15.0,31.0,87.0,110.0,298.0,0.369,3.12,1.56
12,2020,SAC,Buddy Hield,SG,72.0,2216.0,498.0,1162.0,0.429,1382.0,...,213.0,66.0,17.0,168.0,165.0,271.0,688.0,0.394,3.22,1.61
13,1995,PHO,Trevor Ruffin,PG,49.0,319.0,84.0,197.0,0.426,233.0,...,48.0,14.0,2.0,47.0,52.0,38.0,99.0,0.384,3.22,1.61
14,2021,TOT,Ben McLemore,SG,53.0,905.0,135.0,365.0,0.370,406.0,...,39.0,23.0,9.0,42.0,88.0,97.0,280.0,0.346,3.23,1.62
15,2018,GSW,Stephen Curry,PG,51.0,1631.0,428.0,864.0,0.495,1346.0,...,310.0,80.0,8.0,153.0,114.0,212.0,501.0,0.423,3.26,1.63
16,2017,MEM,Troy Daniels,SG,67.0,1183.0,185.0,495.0,0.374,551.0,...,46.0,21.0,4.0,45.0,90.0,138.0,355.0,0.389,3.33,1.66
17,2019,HOU,Gerald Green,SG,73.0,1473.0,231.0,578.0,0.400,675.0,...,40.0,33.0,27.0,55.0,126.0,156.0,441.0,0.354,3.34,1.67
18,2017,GSW,Stephen Curry,PG,79.0,2638.0,675.0,1443.0,0.468,1999.0,...,523.0,143.0,17.0,239.0,183.0,324.0,789.0,0.411,3.34,1.67
19,2020,HOU,Eric Gordon,SF,36.0,1016.0,171.0,463.0,0.369,520.0,...,54.0,23.0,13.0,43.0,70.0,96.0,303.0,0.317,3.35,1.68
20,2020,WAS,Dāvis Bertāns,PF,54.0,1583.0,265.0,610.0,0.434,834.0,...,92.0,37.0,33.0,59.0,139.0,200.0,472.0,0.424,3.35,1.68

AM3 : Average Minutes per 3-Pointer

AM3 computes the average minutes played per 3-pointer Made.

In [38]:
# Define AM3, Average Minutes per 3-pointer Made
tp_ind_qual['AM3'] = tp_ind_qual['MP']/tp_ind_qual['3P']

# Round to 2 decimal places
tp_ind_qual['AM3']=round(tp_ind_qual['AM3'], 2)

EM3 : Expected Minutes Before a 3

It's how long a player is expected to be on the court before making a 3. EM3 is the Average Minutes per 3-pointer Made divided by two.

In [39]:
# Define EM3, Expected Minutes before 3-pointer
tp_ind_qual['EM3'] = tp_ind_qual['AM3'] / 2

# Round to 2 decimal places
tp_ind_qual['EM3']=round(tp_ind_qual['EM3'], 2)

# Sort DataFrame by new category
tp_EM3 = tp_ind_qual.sort_values('EM3', ascending=True)

# Reset index
tp_EM3 = tp_EM3.reset_index(drop=True)

# Start index at 1 instead of 0
tp_EM3.index = tp_EM3.index + 1

In [40]:
# Display top twenty seasons of all-time
tp_EM3.head(20)

,Year,Tm,Player,Pos,G,MP,FG,FGA,FG%,PTS,...,BLK,TOV,PF,3P,3PA,3P%,AM3A,EM3A,AM3,EM3
1,2021,GSW,Stephen Curry,PG,63.0,2152.0,658.0,1365.0,0.482,2015.0,...,8.0,213.0,119.0,337.0,801.0,0.421,2.69,1.34,6.39,3.20
2,2019,GSW,Stephen Curry,PG,69.0,2331.0,632.0,1340.0,0.472,1881.0,...,25.0,192.0,166.0,354.0,810.0,0.437,2.88,1.44,6.58,3.29
3,2016,GSW,Stephen Curry,PG,79.0,2700.0,805.0,1598.0,0.504,2375.0,...,15.0,262.0,161.0,402.0,886.0,0.454,3.05,1.52,6.72,3.36
4,2019,HOU,James Harden,PG,78.0,2867.0,843.0,1909.0,0.442,2818.0,...,58.0,387.0,244.0,378.0,1028.0,0.368,2.79,1.40,7.58,3.79
5,2012,NYK,Steve Novak,PF,54.0,1020.0,161.0,337.0,0.478,477.0,...,9.0,21.0,59.0,133.0,282.0,0.472,3.62,1.81,7.67,3.84
6,2018,GSW,Stephen Curry,PG,51.0,1631.0,428.0,864.0,0.495,1346.0,...,8.0,153.0,114.0,212.0,501.0,0.423,3.26,1.63,7.69,3.84
7,2008,HOU,Steve Novak,SF,35.0,264.0,49.0,102.0,0.480,135.0,...,3.0,4.0,17.0,34.0,71.0,0.479,3.72,1.86,7.76,3.88
8,2018,ORL,Marreese Speights,C,52.0,675.0,138.0,349.0,0.395,402.0,...,22.0,40.0,106.0,86.0,233.0,0.369,2.90,1.45,7.85,3.92
9,2020,HOU,Chris Clemons,SG,33.0,291.0,57.0,142.0,0.401,161.0,...,6.0,19.0,26.0,37.0,107.0,0.346,2.72,1.36,7.86,3.93
10,2020,WAS,Dāvis Bertāns,PF,54.0,1583.0,265.0,610.0,0.434,834.0,...,33.0,59.0,139.0,200.0,472.0,0.424,3.35,1.68,7.92,3.96
11,2020,MIA,Duncan Robinson,SG,73.0,2166.0,323.0,687.0,0.470,983.0,...,19.0,70.0,193.0,270.0,606.0,0.446,3.57,1.78,8.02,4.01
12,2014,IND,Chris Copeland,SF,41.0,265.0,55.0,117.0,0.470,153.0,...,7.0,14.0,38.0,33.0,79.0,0.418,3.35,1.68,8.03,4.01
13,2016,CHO,Troy Daniels,SG,43.0,476.0,89.0,187.0,0.476,242.0,...,3.0,24.0,40.0,59.0,122.0,0.484,3.90,1.95,8.07,4.04
14,2017,GSW,Stephen Curry,PG,79.0,2638.0,675.0,1443.0,0.468,1999.0,...,17.0,239.0,183.0,324.0,789.0,0.411,3.34,1.67,8.14,4.07
15,2015,DAL,Charlie Villanueva,PF,64.0,678.0,150.0,362.0,0.414,403.0,...,22.0,28.0,64.0,83.0,221.0,0.376,3.07,1.54,8.17,4.08
16,2018,TOR,C.J. Miles,SF,70.0,1337.0,227.0,599.0,0.379,699.0,...,21.0,39.0,134.0,164.0,454.0,0.361,2.94,1.47,8.15,4.08
17,2020,SAC,Buddy Hield,SG,72.0,2216.0,498.0,1162.0,0.429,1382.0,...,17.0,168.0,165.0,271.0,688.0,0.394,3.22,1.61,8.18,4.09
18,2020,HOU,James Harden,SG,68.0,2483.0,672.0,1514.0,0.444,2335.0,...,60.0,308.0,227.0,299.0,843.0,0.355,2.95,1.48,8.30,4.15
19,1995,PHO,Trevor Ruffin,PG,49.0,319.0,84.0,197.0,0.426,233.0,...,2.0,47.0,52.0,38.0,99.0,0.384,3.22,1.61,8.39,4.20
20,2018,HOU,Gerald Green,SG,41.0,929.0,168.0,413.0,0.407,497.0,...,15.0,31.0,87.0,110.0,298.0,0.369,3.12,1.56,8.45,4.22

EM3 Statistical Notes:

EM3 measures how quickly shooters make 3-pointers upon taking the court.

I prefer EM3A and EM3 to AM3A and AM3. They are shorter, more informative, and have a better ring. Since AM3A and AM3 are just doubles of EM3A and EM3, they can be eliminated without losing any valuable information.

In [41]:
# Delete extraneous columns
del tp_ind_qual['AM3A'] 
del tp_ind_qual['AM3']

In [42]:
# Define reindex function that starts at 1
def reindex_start_1(data):
    
    # Reset index
    data = data.reset_index(drop=True)

    # Start index at 1 instead of 0
    data.index = data.index + 1
    
    # Return new index
    return data.index

3NG

The 3-point statistics above are compelling, but they do not a provide a single statistic to rank all 3-point shooters. This is where 3NG, or 3-point Net Gain comes in. 3NG adds what the team gains beyond the expected value, and subtracts what the team loses beyond the expected value, for each 3-pointer attempted.

Points Per Possession

3NG depends on the expected value. Should the expected value be points per possession? Or points per field goal attempt? I have chosen points per possession since each time a team has the ball, this is what they are expected to earn. I will use mean points per possession throughout NBA history. The statistic was first computed in 1974.

In [43]:
# Define ev, expected value, as points per possession
ev = df_P['PPP'].mean()

# Display ev
print('Avg. Points Per Possession:', ev)

Avg. Points Per Possession: 1.0690232558139534

3NG Formula

When a player makes a 3-pointer, the team gains an extra 3 points minus the expected value. When a player misses a 3-pointer, the team loses the expected value.

In [44]:
# Function that returns a dataframe orded by a new column, 3NG
def threeNG(data, threesMade, threesAttempted, totalGames, expectedValue, teams=False):

    # Compute 3PG, 3-pointers per Game
    data['3PG']=threesMade/totalGames

    # Round to 2 decimal places
    data['3PG']=round(data['3PG'], 2)

    # Compute 3PAG, 3-point Attempts per Game
    data['3PAG']= threesAttempted/totalGames

    # Round to 2 decimal places
    data['3PAG']=round(data['3PAG'], 2)

    # Compute 3-point Misses per Game
    tp_misses = data['3PAG'] - data['3PG']
    
    # Shorten notation for expectedValue
    ev = expectedValue
                          
    # Compute 3NG, 3-point Advantage
    data['3NG']=data['3PG'] * (3 - ev) - tp_misses * ev

    # (3 - ev) is what the team gains per 3-pointer made
    # -ev is what the team loses per 3-pointer missed
    
    # Round to 2 decimal places
    data['3NG']=round(data['3NG'], 2)
    
    # Sort dataframe by 3NG
    data = data.sort_values('3NG', ascending=False)

    # Reset index for individuals only (not teams)
    if teams != True:
        data.index = reindex_start_1(data)
    
    return data

Apply 3NG to Individuals

In [45]:
# Define expected value as the mean points per possession during 3-point era
expected_value = df_P['PPP'].mean()

# Apply 3NG to qualified individual stats
tp_ind_qual = threeNG(tp_ind_qual, tp_ind_qual['3P'], tp_ind_qual['3PA'], tp_ind_qual['G'], expected_value)

# Apply 3NG to individual stats
tp_ind = threeNG(tp_ind, tp_ind['3P'], tp_ind['3PA'], tp_ind['G'], expected_value)

Apply 3NG to Teams

In [46]:
# Group by Team and Year, and sum colums
tp_teams = tp_team.groupby(['Tm','Year']).sum()

# Give correct 3-point percentage, not sum
tp_teams['3P%'] = tp_teams['3P']/tp_teams['3PA']

# Apply 3NG to team statistics
tp_teams = threeNG(tp_teams, tp_teams['3P'], tp_teams['3PA'], 82, expected_value, teams=True)

3NG Rankings

The Top 20

In [47]:
# Display top 20 3-point shooting seasons of all-time
tp_ind_qual.head(20)

,Year,Tm,Player,Pos,G,MP,FG,FGA,FG%,PTS,...,TOV,PF,3P,3PA,3P%,EM3A,EM3,3PG,3PAG,3NG
1,2016,GSW,Stephen Curry,PG,79.0,2700.0,805.0,1598.0,0.504,2375.0,...,262.0,161.0,402.0,886.0,0.454,1.52,3.36,5.09,11.22,3.28
2,2019,GSW,Stephen Curry,PG,69.0,2331.0,632.0,1340.0,0.472,1881.0,...,192.0,166.0,354.0,810.0,0.437,1.44,3.29,5.13,11.74,2.84
3,2021,GSW,Stephen Curry,PG,63.0,2152.0,658.0,1365.0,0.482,2015.0,...,213.0,119.0,337.0,801.0,0.421,1.34,3.20,5.35,12.71,2.46
4,2015,ATL,Kyle Korver,SG,75.0,2418.0,292.0,600.0,0.487,911.0,...,107.0,140.0,221.0,449.0,0.492,2.70,5.47,2.95,5.99,2.45
5,2021,BRK,Joe Harris,SF,69.0,2141.0,357.0,707.0,0.505,974.0,...,62.0,141.0,211.0,444.0,0.475,2.41,5.08,3.06,6.43,2.31
6,2013,GSW,Stephen Curry,PG,78.0,2983.0,626.0,1388.0,0.451,1786.0,...,240.0,198.0,272.0,600.0,0.453,2.48,5.48,3.49,7.69,2.25
7,2020,MIA,Duncan Robinson,SG,73.0,2166.0,323.0,687.0,0.470,983.0,...,70.0,193.0,270.0,606.0,0.446,1.78,4.01,3.70,8.30,2.23
8,2015,GSW,Stephen Curry,PG,80.0,2613.0,653.0,1341.0,0.487,1900.0,...,249.0,158.0,286.0,646.0,0.443,2.02,4.57,3.58,8.07,2.11
9,2016,LAC,J.J. Redick,SG,75.0,2097.0,422.0,880.0,0.480,1226.0,...,78.0,135.0,200.0,421.0,0.475,2.49,5.24,2.67,5.61,2.01
10,2018,GSW,Stephen Curry,PG,51.0,1631.0,428.0,864.0,0.495,1346.0,...,153.0,114.0,212.0,501.0,0.423,1.63,3.84,4.16,9.82,1.98
11,2014,ATL,Kyle Korver,SG,71.0,2408.0,289.0,609.0,0.475,850.0,...,102.0,147.0,185.0,392.0,0.472,3.07,6.51,2.61,5.52,1.93
12,2020,NOP,J.J. Redick,SG,60.0,1581.0,286.0,631.0,0.453,917.0,...,75.0,96.0,180.0,397.0,0.453,1.99,4.39,3.00,6.62,1.92
13,1997,CHH,Glen Rice,SF,79.0,3362.0,722.0,1513.0,0.477,2115.0,...,177.0,190.0,207.0,440.0,0.470,3.82,8.12,2.62,5.57,1.91
14,2021,ATL,Bogdan Bogdanović,SG,44.0,1305.0,267.0,565.0,0.473,720.0,...,54.0,99.0,146.0,333.0,0.438,1.96,4.47,3.32,7.57,1.87
15,2021,LAC,Marcus Morris,PF,57.0,1502.0,276.0,584.0,0.473,765.0,...,57.0,117.0,140.0,296.0,0.473,2.54,5.36,2.46,5.19,1.83
16,2012,NYK,Steve Novak,PF,54.0,1020.0,161.0,337.0,0.478,477.0,...,21.0,59.0,133.0,282.0,0.472,1.81,3.84,2.46,5.22,1.80
17,2019,BRK,Joe Harris,SG,76.0,2293.0,374.0,748.0,0.500,1041.0,...,121.0,182.0,183.0,386.0,0.474,2.97,6.26,2.41,5.08,1.80
18,2018,GSW,Klay Thompson,SG,73.0,2506.0,575.0,1179.0,0.488,1461.0,...,128.0,117.0,229.0,521.0,0.440,2.40,5.47,3.14,7.14,1.79
19,2002,MIL,Ray Allen,SG,69.0,2525.0,530.0,1148.0,0.462,1503.0,...,159.0,157.0,229.0,528.0,0.434,2.39,5.52,3.32,7.65,1.78
20,2020,WAS,Dāvis Bertāns,PF,54.0,1583.0,265.0,610.0,0.434,834.0,...,59.0,139.0,200.0,472.0,0.424,1.68,3.96,3.70,8.74,1.76

3NG Statistical Notes:

Steph Curry's legendary MVP season is heads and shoulders above the rest, and he dominates the list as a player. 3NG does a nice job of comparing 3-point shooters over the years. 3NG has real meaning. It conveys the actual points a team gains beyond the average by the player shooting 3-pointers.

Weighted

It's telling to use the same measure, mean points per possession, across all years. But is it justifiable? Teams score more points per possession these days, so it could be argued that 3-pointers were more valuable in years past. The expected value can be weighted, by taking the mean points per possession for each given year.

In [48]:
# Function to compute weighted 3NG from dataframe that already contains 3NG
def threeNG_weighted(data, teams=False):

    # Merge df_PPP, dataframe with 'Year' and 'PPP', with the current dataframe
    data = data.merge(df_P)

    # Compute 3-point Misses per Game
    tp_misses =data['3PAG'] - data['3PG']
                          
    # Compute 3NG using weighted expected value
    data['3NG/w'] = data['3PG'] * (3 - data['PPP']) - tp_misses * data['PPP']

    # Round to 2 decimal places
    data['3NG/w']=round(data['3NG/w'], 2)
    
    # Sort dataframe by 3NG/w
    data = data.sort_values('3NG/w', ascending=False)
    
    # Reset index for individuals only (not teams)
    if teams != True:
        data.index = reindex_start_1(data)
    
    # Keep dataframe tight by eliminating unnecessary columns
    data.drop(['MP','PPP'], axis=1, inplace=True)
    
    # Return dataframe with 3NG/w
    return data

The Top 20, Weighted

In [49]:
# Created dataframe that includes weighted 3NG
tp_ind_qual_w = threeNG_weighted(tp_ind_qual)

# Show top twenty weighted 3NG
tp_ind_qual_w.head(20)

,Year,Tm,Player,Pos,G,FG,FGA,FG%,PTS,2P,...,PF,3P,3PA,3P%,EM3A,EM3,3PG,3PAG,3NG,3NG/w
1,2016,GSW,Stephen Curry,PG,79.0,805.0,1598.0,0.504,2375.0,403.0,...,161.0,402.0,886.0,0.454,1.52,3.36,5.09,11.22,3.28,3.33
2,2015,ATL,Kyle Korver,SG,75.0,292.0,600.0,0.487,911.0,71.0,...,140.0,221.0,449.0,0.492,2.70,5.47,2.95,5.99,2.45,2.52
3,2019,GSW,Stephen Curry,PG,69.0,632.0,1340.0,0.472,1881.0,278.0,...,166.0,354.0,810.0,0.437,1.44,3.29,5.13,11.74,2.84,2.43
4,2013,GSW,Stephen Curry,PG,78.0,626.0,1388.0,0.451,1786.0,354.0,...,198.0,272.0,600.0,0.453,2.48,5.48,3.49,7.69,2.25,2.33
5,2015,GSW,Stephen Curry,PG,80.0,653.0,1341.0,0.487,1900.0,367.0,...,158.0,286.0,646.0,0.443,2.02,4.57,3.58,8.07,2.11,2.22
6,2016,LAC,J.J. Redick,SG,75.0,422.0,880.0,0.480,1226.0,222.0,...,135.0,200.0,421.0,0.475,2.49,5.24,2.67,5.61,2.01,2.04
7,2002,MIL,Ray Allen,SG,69.0,530.0,1148.0,0.462,1503.0,301.0,...,157.0,229.0,528.0,0.434,2.39,5.52,3.32,7.65,1.78,1.97
8,2021,BRK,Joe Harris,SF,69.0,357.0,707.0,0.505,974.0,146.0,...,141.0,211.0,444.0,0.475,2.41,5.08,3.06,6.43,2.31,1.96
9,2014,ATL,Kyle Korver,SG,71.0,289.0,609.0,0.475,850.0,104.0,...,147.0,185.0,392.0,0.472,3.07,6.51,2.61,5.52,1.93,1.95
10,1997,CHH,Glen Rice,SF,79.0,722.0,1513.0,0.477,2115.0,515.0,...,190.0,207.0,440.0,0.470,3.82,8.12,2.62,5.57,1.91,1.92
11,2020,MIA,Duncan Robinson,SG,73.0,323.0,687.0,0.470,983.0,53.0,...,193.0,270.0,606.0,0.446,1.78,4.01,3.70,8.30,2.23,1.92
12,2012,NYK,Steve Novak,PF,54.0,161.0,337.0,0.478,477.0,28.0,...,59.0,133.0,282.0,0.472,1.81,3.84,2.46,5.22,1.80,1.92
13,2004,SAC,Peja Stojakovic,SF,81.0,665.0,1386.0,0.480,1964.0,425.0,...,159.0,240.0,554.0,0.433,2.94,6.80,2.96,6.84,1.57,1.84
14,2018,GSW,Stephen Curry,PG,51.0,428.0,864.0,0.495,1346.0,216.0,...,114.0,212.0,501.0,0.423,1.63,3.84,4.16,9.82,1.98,1.82
15,2015,GSW,Klay Thompson,SG,77.0,602.0,1299.0,0.463,1668.0,363.0,...,122.0,239.0,545.0,0.439,2.25,5.14,3.10,7.08,1.73,1.82
16,2021,GSW,Stephen Curry,PG,63.0,658.0,1365.0,0.482,2015.0,321.0,...,119.0,337.0,801.0,0.421,1.34,3.20,5.35,12.71,2.46,1.78
17,2013,ATL,Kyle Korver,SF,74.0,277.0,601.0,0.461,810.0,88.0,...,170.0,189.0,414.0,0.457,2.73,5.98,2.55,5.59,1.67,1.74
18,2016,GSW,Klay Thompson,SG,80.0,651.0,1386.0,0.470,1771.0,375.0,...,152.0,276.0,650.0,0.425,2.05,4.83,3.45,8.12,1.67,1.71
19,2005,PHO,Joe Johnson,SF,82.0,544.0,1179.0,0.461,1400.0,367.0,...,167.0,177.0,370.0,0.478,4.38,9.15,2.16,4.51,1.66,1.69
20,2008,NOH,Peja Stojakovic,SF,77.0,451.0,1026.0,0.440,1263.0,220.0,...,127.0,231.0,524.0,0.441,2.58,5.87,3.00,6.81,1.72,1.68

The values are very close. Some players from earlier eras, like Ray Allen, move up the list, but others, like Glen Rice, actually move down. It depends on how many points per possession the league averaged that year. Consider Klay Thompson's 2018 drop from 9 to 16. Was his 3-point season not as valuable because the league was better at shooting 3s?

I prefer unweighted as the default statistic because it provides one basis of comparison. I do not think that shooters lose value because others have improved. For now, I will return to unweighted as the default ranking.

League Leaders by Season

We can check the league leaders for any given year. Note that for a particular year, weighted and unweighted will provide the same order.

In [50]:
# Create 2021 dataframe
tp_2021 = tp_ind_qual[tp_ind_qual['Year']==2021.0]

# Reset index
tp_2021.index = reindex_start_1(tp_2021)

# Show top 10 3NG
tp_2021.head(10)

,Year,Tm,Player,Pos,G,MP,FG,FGA,FG%,PTS,...,TOV,PF,3P,3PA,3P%,EM3A,EM3,3PG,3PAG,3NG
1,2021,GSW,Stephen Curry,PG,63.0,2152.0,658.0,1365.0,0.482,2015.0,...,213.0,119.0,337.0,801.0,0.421,1.34,3.20,5.35,12.71,2.46
2,2021,BRK,Joe Harris,SF,69.0,2141.0,357.0,707.0,0.505,974.0,...,62.0,141.0,211.0,444.0,0.475,2.41,5.08,3.06,6.43,2.31
3,2021,ATL,Bogdan Bogdanović,SG,44.0,1305.0,267.0,565.0,0.473,720.0,...,54.0,99.0,146.0,333.0,0.438,1.96,4.47,3.32,7.57,1.87
4,2021,LAC,Marcus Morris,PF,57.0,1502.0,276.0,584.0,0.473,765.0,...,57.0,117.0,140.0,296.0,0.473,2.54,5.36,2.46,5.19,1.83
5,2021,UTA,Joe Ingles,SF,67.0,1867.0,275.0,562.0,0.489,809.0,...,117.0,120.0,183.0,406.0,0.451,2.30,5.10,2.73,6.06,1.71
6,2021,DEN,Michael Porter Jr.,SF,61.0,1912.0,443.0,817.0,0.542,1162.0,...,77.0,126.0,170.0,382.0,0.445,2.50,5.62,2.79,6.26,1.68
7,2021,CHI,Zach LaVine,SG,58.0,2034.0,569.0,1123.0,0.507,1591.0,...,203.0,138.0,200.0,477.0,0.419,2.13,5.08,3.45,8.22,1.56
8,2021,BRK,Kevin Durant,PF,35.0,1157.0,324.0,603.0,0.537,943.0,...,120.0,70.0,85.0,189.0,0.450,3.06,6.80,2.43,5.40,1.52
9,2021,ATL,Tony Snell,SG,47.0,992.0,88.0,171.0,0.515,249.0,...,21.0,75.0,62.0,109.0,0.569,4.55,8.00,1.32,2.32,1.48
10,2021,MIL,Bryn Forbes,SG,70.0,1354.0,250.0,529.0,0.473,701.0,...,44.0,77.0,154.0,341.0,0.452,1.98,4.39,2.20,4.87,1.39

In [51]:
# Create 2002 dataframe
tp_2002 = tp_ind_qual[tp_ind_qual['Year']==2002.0]

# Reset index
tp_2002.index = reindex_start_1(tp_2002)

# Show top 10 3NG
tp_2002.head(10)

,Year,Tm,Player,Pos,G,MP,FG,FGA,FG%,PTS,...,TOV,PF,3P,3PA,3P%,EM3A,EM3,3PG,3PAG,3NG
1,2002,MIL,Ray Allen,SG,69.0,2525.0,530.0,1148.0,0.462,1503.0,...,159.0,157.0,229.0,528.0,0.434,2.39,5.52,3.32,7.65,1.78
2,2002,DAL,Steve Nash,PG,82.0,2837.0,525.0,1088.0,0.483,1466.0,...,229.0,164.0,156.0,343.0,0.455,4.14,9.10,1.90,4.18,1.23
3,2002,SAS,Steve Smith,SG,77.0,2211.0,310.0,682.0,0.455,895.0,...,108.0,158.0,116.0,246.0,0.472,4.50,9.53,1.51,3.19,1.12
4,2002,LAC,Eric Piatkowski,SG,71.0,1718.0,207.0,471.0,0.439,626.0,...,64.0,110.0,111.0,238.0,0.466,3.61,7.74,1.56,3.35,1.10
5,2002,DET,Jon Barry,SG,82.0,1985.0,255.0,522.0,0.489,739.0,...,111.0,134.0,121.0,258.0,0.469,3.84,8.20,1.48,3.15,1.07
6,2002,CLE,Wesley Person,SG,78.0,2793.0,467.0,944.0,0.495,1176.0,...,74.0,93.0,143.0,322.0,0.444,4.34,9.76,1.83,4.13,1.07
7,2002,ORL,Pat Garrity,PF,80.0,2406.0,327.0,767.0,0.426,884.0,...,68.0,230.0,169.0,396.0,0.427,3.04,7.12,2.11,4.95,1.04
8,2002,SEA,Brent Barry,SG,81.0,3040.0,401.0,790.0,0.508,1164.0,...,165.0,182.0,164.0,387.0,0.424,3.93,9.27,2.02,4.78,0.95
9,2002,BOS,Paul Pierce,SG,82.0,3302.0,707.0,1598.0,0.442,2144.0,...,241.0,237.0,210.0,520.0,0.404,3.18,7.86,2.56,6.34,0.90
10,2002,LAL,Derek Fisher,PG,70.0,1974.0,274.0,666.0,0.411,786.0,...,62.0,121.0,144.0,349.0,0.413,2.83,6.86,2.06,4.99,0.85

Best 3-Point Shooting Teams of All-Time

In [52]:
# Convert teams dataframe to top 20 showing 3NG only
pd.DataFrame(tp_teams['3NG'].head(20))

           3NG
Tm  Year
GSW 2016  5.60
LAC 2021  5.00
UTA 2021  3.71
PHO 2010  3.62
CHH 1997  3.62
BRK 2021  3.42
GSW 2015  3.40
PHO 2006  3.30
MIL 2021  3.18
PHO 2007  3.10
POR 2021  3.09
GSW 2018  2.98
    2019  2.96
CLE 2017  2.80
GSW 2013  2.79
NYK 2021  2.79
PHO 2005  2.71
SAS 2019  2.70
MIA 2013  2.64
SAS 2014  2.62

Career Totals

How about the most points gained by shooting 3's over their entire career?

In [57]:
# Create 3NG/c using same formula as 3NG, but use totals instead of per game
tp_ind['3NG/c'] = tp_ind['3P'] * (3 - ev) - (tp_ind['3PA'] - tp_ind['3P']) * ev

# Round to 2 decimal places
tp_ind['3NG/c'] = round(tp_ind['3NG/c'], 2)

# Group by player, and sum over their career
tp_player = tp_ind.groupby('Player', as_index=False)['3NG/c'].sum()

# Order from the top
tp_player = tp_player.sort_values('3NG/c', ascending=False)

# Reindex
tp_player.index = reindex_start_1(tp_player)

# Display top 25
tp_player.head(25)

              Player    3NG/c
1      Stephen Curry  1504.59
2        Kyle Korver  1240.53
3          Ray Allen   977.22
4         Steve Nash   844.11
5        J.J. Redick   821.31
6      Klay Thompson   806.81
7     Reggie Miller*   746.30
8         Dale Ellis   596.55
9        Mike Miller   590.14
10   Peja Stojakovic   584.83
11     Wesley Person   505.91
12       Brent Barry   505.43
13         Glen Rice   504.44
14       Danny Green   485.95
15        Steve Kerr   468.64
16        Joe Harris   464.65
17     Allan Houston   443.90
18  Chauncey Billups   438.88
19       Dana Barros   434.96
20        Dell Curry   423.16
21       Buddy Hield   421.49
22       Jason Terry   421.16
23      Hubert Davis   419.04
24     Rashard Lewis   416.78
25        Joe Ingles   416.55

Steph Curry - The 3 point king

Career Averages

We can also examine career averages by taking a player's 3NG for each year and dividing by the total number of years.

In [58]:
# Aggregate 3NG sum and total years for each player
tp_3Py = tp_ind_qual.groupby('Player', as_index=False).agg({'3NG':'sum','Year':'count'})

# Only select players with at least 5 years in the league
tp_3Py = tp_3Py[tp_3Py['Year']>=5]

# To obtain career averages, divide 3NG sum by total years
tp_3Py['3NG/y'] = tp_3Py['3NG']/tp_3Py['Year']

# Round to 2 decimal places
tp_3Py['3NG/y'] = round(tp_3Py['3NG/y'], 2)

# Sort values in descending order
tp_3Py = tp_3Py[['Player','3NG/y']].sort_values('3NG/y', ascending=False) 

# Reset index
tp_3Py.index = reindex_start_1(tp_3Py)

# Show top 25 career 3NG averages
tp_3Py.head(25)

                Player  3NG/y
1        Stephen Curry   2.05
2        Klay Thompson   1.31
3           Seth Curry   1.10
4           Joe Harris   1.09
5          Buddy Hield   1.08
6          Kyle Korver   1.02
7          J.J. Redick   0.80
8           Joe Ingles   0.78
9            Ray Allen   0.75
10         Steve Novak   0.74
11     Peja Stojakovic   0.68
12          Steve Nash   0.66
13         Danny Green   0.66
14       Wesley Person   0.65
15         Bryn Forbes   0.63
16        Dennis Scott   0.61
17     Khris Middleton   0.57
18         Paul George   0.57
19        Hubert Davis   0.57
20      Anthony Morrow   0.56
21        Kyrie Irving   0.56
22           Glen Rice   0.56
23         Mike Miller   0.55
24  Karl-Anthony Towns   0.54
25       Allan Houston   0.54

Conclusion

Three new NBA statistics have been presented, EM3A, EM3, and 3NG. EM3A, Expected Minutes before a 3-point Attempt could be of value to coaches preparing for opponents and working with their own players. EM3, Expected Minutes before a 3, is a fun statistic that could be used for similar reasons. 3NG, 3-point Net Gain, is a powerful statistic that provides a single number to rank 3-point shooters across all seasons.

3NG rewards players for making 3-point shots, and penalizes them for missing. Players that make a lot of 3s, but shoot a low percentage are exposed as making slight contributions to their teams. Players who shoot a high percentage need to make a high volume to be competitive. 3NG rankings are statisically verifiable while simultaneously communicating valuable information.

3NG reveals the net gain in points beyond the league average that a player adds to his team by shooting 3-pointers. It can be weighted, summed, or displayed as per game averages. It can be used as a barometer to determine whether a player shooting 3-pointers results in a net gain or net loss for the team. It can also be used to predict playoff success.

3NG can be further used to analyze playoff performers and clutch 3-point shooters. It can be used during basketball seasons past and future. It can be used in any league, WNBA, college, high school, etc., provided that an appropiate expected value, like points per possession, is used as a baseline of comparison.